[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CaDrA"]
	path = CaDrA
	url = https://github.com/montilab/cadra
[submodule "hypeR"]
	path = hypeR
	url = https://github.com/montilab/hyper
